body {
    padding-top: 70px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f8f8;
}

/* HERO */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('https://images.unsplash.com/photo-1551218808-94e220e084d2') center/cover;
    color: white;
    padding: 100px 0;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

/* VACANTES */
.vacancy-card {
    border: none;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.vacancy-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
    background-color: #afafaf; /* Dorado */
    color: #ffffff; /* Texto legible */
}

.vacancy-card:hover .card-title,
.vacancy-card:hover .card-text,
.vacancy-card:hover button {
    color: #ffffff;
}

/* BOTONES */
.btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
}

/* BENEFICIOS */
.benefit-card {
    border: none;
    transition: 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    background-color: #ffffff; /* Dorado */
    color: #ffffff; /* Texto legible */
}

.benefit-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    background-color: #ffffff; /* Dorado más intenso al hover */
}
